.sc-section {
    position: relative;
    padding: 2rem 0 2rem 0;
    .sc-sec__desc {
        position: relative;
        margin-top: 2rem;
        width: 50%;
        padding-right: 5rem;
        @media (max-width: $breakpoint-lg) {
            width: 60%;
            margin-top: 1rem;
        }
        @media (max-width: $breakpoint-md) {
            width: 65%;
            margin-top: -1rem;
        }
        @media (max-width: $breakpoint-md) {
            z-index: 5;
            width: 90%;
            margin-top: -1rem;
        }
        h1 {
            font-size: var(--text-7xl);
            font-weight: 400;
            @media (max-width: $breakpoint-lg) {
                font-size: var(--text-5xl);
            }
            @media (max-width: $breakpoint-md) {
                font-size: var(--text-3xl);    
            }
            @media (max-width: $breakpoint-sm) {
                font-size: var(--text-2xl); 
                margin-bottom: 0.5rem;   
            }
        }
        p {
            font-size: var(--text-sm);
            @media (max-width: $breakpoint-md) {
                font-size: var(--text-xs);
            }
        }
        .btn-get__started {
            margin-left: 0;
            border-radius: 4px;
            .fa-arrow-right {
                margin-left: 1.5rem;
            }
        }
        .sc-followers {
            margin-top: 2rem;
            position: relative;
            .sc-followers_img {
                position: absolute;
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2.25rem;
                height: 2.25rem;
                border: 2px solid #fff;
                border-radius: 50%;
                overflow: hidden;
                &:nth-child(2) {
                    z-index: 2;
                    left: 1.8rem;
                }&:nth-child(3) {
                    z-index: 3;
                    left: 3.6rem;
                }&:nth-child(4) {
                    z-index: 4;
                    left: 5.4rem;
                }&:nth-child(5) {
                    z-index: 5;
                    left: 7.2rem;
                }&:nth-child(6) {
                    z-index: 6;
                    left: 9rem;
                }&:nth-child(7) {
                    z-index: 7;
                    left: 10.8rem;
                    font-size: var(--text-xxs);
                    font-weight: bold;
                    text-align: center;
                    background-color: rgb(83, 81, 81);
                    color: #fff;
                }
                img {
                    width: 100%;
                }
            }
        }
        .sc-followers-para {
            position: relative;
            margin-top: 5rem;
            width: 22rem;
            @media (max-width: $breakpoint-sm) {
                width: 100%;
            }
        }
    }
    .sc-section1__img {
        position: absolute;
        width: 75%;
        top: -6rem;
        right: -6rem;
        @media (max-width: $breakpoint-xl) {
            top: -2rem;
        }
        @media (max-width: $breakpoint-md) {
            right: -3rem;
        }
        @media (max-width: $breakpoint-sm) {
            z-index: 0;
            right: 0;
        }
    }
}