$ap: '.sc';

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// A map of breakpoints.
$breakpoints: (
  xs: $breakpoint-sm,
  sm: $breakpoint-md,
  md: $breakpoint-lg,
  lg: $breakpoint-xl
);
