.display-none {
    display: none;
}
.display-block {
    display: block;
}
.fs54px {
    font-size: 54px;
    @media (max-width: $breakpoint-lg) {
        font-size: 40px;
    }
    @media (max-width: $breakpoint-md) {
        font-size: 32px;
    }
}
.btn-set {
    @media (max-width: $breakpoint-lg) {
        display: none;
    }
}
.btn {
    border-radius: 0;
    border: 0;
    font-size: small;
    font-weight: bold;
    padding: 0.6rem 1.6rem;
}
.btn:hover {
    opacity: 0.9;
}
.btn-bg__light:hover {
    background-color: aliceblue;
}
.sc-custom__btn {
    background: var(--color-primary);
    color: #fff;
    margin-left: 1rem;
    &:hover {
        background: var(--color-primary);
        color: #fff;
    }
    &:first-child {
        margin-left: 2rem;
    }
}
.sc-swiper__section {
    padding: 3rem 4.5rem;
    @media (max-width: $breakpoint-sm) {
        padding: 1.5rem 2rem;
    }
    // .sc-swiper__slide1 {
    //     margin: auto;
    // }
    h6 {
        text-align: center;
        margin-bottom: 4rem;
        @media (max-width: $breakpoint-sm) {
            margin-bottom: 2rem;
        }   
    }
    img {
        width: 137px;
          
        @media (min-width: $breakpoint-sm) {
            margin-left: 2rem;
        }
        @media (min-width: $breakpoint-lg) {
            margin-left: 0.8rem;
        }
        @media (max-width: $breakpoint-sm) {
            margin-left: 2rem;
        }
    }
}
// Increase followers *******************************************************


.sc-if__para {
    font-size: small;
    @media (min-width:1400px) {
        font-size: medium;
    }
}

//  start free(buttons) *********************************************************
.sm-active__followers {
    position: relative;
    .sc-start__free {
        justify-content: center;
        z-index: 5;
        .btn-start__free {
            width: max-content;
            margin-left: 0;
        }
        @media (max-width: $breakpoint-sm) {
            width: 100%;
            p {
                font-size: var(--text-xs);
            }
        }
    }
}

.img100 {
    width: 100%;
    // @media (max-width: $breakpoint-sm) {
    //     position: absolute;
    //     z-index: 0;
    //     width: 20rem;
    // }
}
// testimonial section *************************************************************
.sc-testimonial {
    margin-bottom: 2rem;
    z-index: 0;
    .sc-testimonial__title {
        color: var(--color-grey);
    }
    .sc-swiper__slide2 {
        position: relative;
        z-index: 0;
        padding-top: 2rem;
        .sc-testinomial__card {
            width: 18rem;
            z-index: 1;
            .sc-testinomial__card-icon {
                position: absolute;
                z-index: 10;
                top: -1.2rem;
                left: 1rem;
                width: 2.5rem;
                height: 2.5rem;
                background: var(--color-primary);
                color: #fff;
                font-size: 1.2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 2rem;
            }
            .sc-testimonial__ratings {
                text-align: left;
                margin: 2.5rem 1rem 0.5rem;
                color: var(--color-pink);
            }
            .sc-testimonial__feedback {
                text-align: left;
                margin-left: 1rem;
                font-size: small;
                color: var(--color-grey);
            }
            .sc-happy__user {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 0.5rem 1rem;
                .sc-user__id {
                    margin-left: 0.5rem;
                    span {
                        font-size: small;
                        &:nth-child(3) {
                            color: var(--color-grey);
                        }
                    }
                }
                img {
                    width: 2rem;
                    height: 2rem;
                    border-radius: 2rem;
                }
            }
        }
    }
}

// Accordion section ************************************************************
.sc-accordion__section {
    font-size: 18px;
    p {
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    button {
        border: none;
        background-color: transparent;
        color: var(--color-primary);
        font-weight: bold;
        padding: 0;
        i {
            margin-left: 0.5rem;
        }
    }
    .accordion {
        .accordion-item {
            border-color: rgb(194, 190, 190) !important;
            // .accordion-button::after {
            //     background-image: url("<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/></svg>") !important;
            // }
        }
    }
}
// subscribe section 
.sc-subscribe__section {
    width: 100%;
    min-height: 90vh;
    background: url('../../public/assets/social-media-assets/Mask\ Group\ 1.jpg') no-repeat center;
    background-size: cover;
    margin-top: 5rem;
}
